# PostgreSQL
POSTGRES_USER=jthan-dev
POSTGRES_PASSWORD=test2209!
POSTGRES_DB=jg-portfolio
POSTGRES_PORT=5432

# Volume paths
SYNCTHING_USER_DIR=/home/your/path
SYNCTHING_WORKING_DIR=/home/your/path
STIRLING_DATA_DIR=/mnt/your/path
LLAMA_MODELS_DIR=/home/your/path
